/* .table tr td {
    background: red;
}
.table tr:nth-child(2n) td {
    background: pink;
}
.table tr:nth-child(3n) td {
    background: yellow;
}
.table tr:nth-child(4n) td {
    background: green;
} */