.clearfix:before, .clearfix:after {
    content: '';
    display: table;
    height: 1px;
}

.clearfix:after {
    clear: both;
}

.box {
    float: left;
    box-sizing: border-box;
    width: 15%; /* em rem vh (viewportHeight - max 100) vw (viewportWidth - max 100) */
    height: 400px;
    padding: 25px;
    border: 20px solid yellow;
    height: 200px;
}

.class { /* moze znajdowac sie wilee razy na stronie */

}

#id { /* moze znajdowac sie tylko raz na stronie */

}

#menu .menu-element a {}
#menu .menu-element a:hover {}

body {
    color: blue;
}

div span {
    font-weight: 700;
    /* font-weight: normal|bold;
    font-weight: 400|700; 100-900 */
    /*
    hairline - 100;
    thin - 200;
    light - 300;
    reguar - 400;
    medium - 500;
    semibold - 600;
    bold - 700;
    ? - 800;
    black - 900;
    */
}

div span {
    font-weight: 400;
}

@media only screen and (max-width: 800px) {
    body {
        background: red;
    }
}
