.form-control {
    background: yellow;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 67.5%;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}