body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Lato', sans-serif;
    font-size: 16px; /* odpowiednik 12pt (np MS Word) */
    /* background: greenyellow; */
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: rgba(100, 0, 50, .3); */
}

#app > div {
    max-width: 500px;
    width: 100%;
    margin: 20px;
}

.input-group .fa {
    /* color: red; */
    font-size: 20px;
}

.tab-content {
    padding: 20px;
}